@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-riemon-green {
        color: #16c72e;
    }
    .text-riemon-green-dark {
        color: #109121;
    }
    .text-riemon-green-light {
        color: #9cf4a7;
    }
    .bg-riemon-green {
        background-color: #16c72e;
    }
    .bg-riemon-green-dark {
        background-color: #109121;
    }
    .bg-riemon-green-light {
        background-color: #9cf4a7;
    }
    .bg-riemon-gray {
        background-color: #f8f9fa;
    }
}