/** @type {import('tailwindcss').Config} */
module.exports = {
  content: ["./*.html"],
  darkMode: 'class',
  theme: {
    extend: {
      colors: {
        'riemon-green': '#16c72e',
        'riemon-green-dark': '#109121',
        'riemon-green-light': '#9cf4a7',
        'riemon-gray': '#f8f9fa',
        'riemon-brown': '#8B7355',
        'riemon-brown-light': '#D2B48C',
      },
    },
  },
  plugins: [],
}